##----------------------  Commons  ----------------------

-keepnames class scott.wemessage.commons.connection.**
-keep,allowobfuscation class scott.wemessage.commons.** { *; }

-keep class scott.wemessage.commons.connection.Heartbeat { *; }
-keep class scott.wemessage.commons.connection.security.EncryptedFile { *; }

##--------------------------------------------------------